@mixin max-screen($res)
{
  @media screen and (max-width: $res)
  {
    @content;
  }
}


.main_banner {
  max-width: 90%;
}

.main_banner_scr {
  border-radius: 32px;
  background-color: #DCE5E2;
  background-image: url("../Images/mb_background.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  box-sizing: border-box;
  @include max-screen(1440px) {
    background-position: bottom right;
  }
  @include max-screen(1000px) {
    background-position: bottom center;
  }
  .mb_text {
    max-width: 50%;
    padding-left: 56px;
    padding-top: 145px;
    @include max-screen(1000px) {
      max-width: 100%;
      background: linear-gradient(to right, rgb(220,229,226,), transparent);
      padding: 100px 30px 100px 30px;
      border-radius: 32px;
      margin-right: 0;
    }
    @include max-screen(544px) {
      padding: 50px 15px 100px 15px;
      max-width: none;
      width: 100%;
      background: linear-gradient(to right, rgb(220,229,226,), transparent);
      margin: 0;

    }
    h1 {
      font-family: 'Readex Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 58px;
      line-height: 70px;
      color: #000000;
      @include max-screen(544px) {
        font-size: 40px;
        line-height: 50px;

      }
    }
    p {
      max-width: 565px;
      padding-top: 19px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      @include max-screen(1114px) {
        max-width: 300px;
      }
      @include max-screen(1000px) {
        max-width: 60%;
      }
      @include max-screen(544px) {
        font-size: 14px;
        line-height: 18px;
        max-width: 80%;
      }
    }
    button {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      padding: 14px 53px;
      margin-bottom: 127px;
      border: 1px solid #000000;
      border-radius: 200px;
      background-color: transparent;
      z-index: 200;
      margin-top: 30px;
      @include max-screen(1000px) {
        margin-bottom: 0;
      }
      @include max-screen(544px) {
        font-size: 16px;
        padding: 12px 40px;
      }
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.owl-nav .owl-prev {
  position: absolute;
  left: 1.5%;
  top: 45%;
}

.owl-nav .owl-prev:before {
  content: "\f053";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 33px;
  @include max-screen(1000px) {
    display: none;
  }
}

.owl-nav .owl-next {
  position: absolute;
  right: 1.5%;
  top: 45%;

}

.owl-nav .owl-next:after {
  content: "\f054";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 33px;
  @include max-screen(1000px) {
    display: none;
  }
}

.owl-dots {
  text-align: center;
  position: relative;
  top: -100px;

}
.owl-dot span{
  display: inline-block;
  height: 2px;
  width: 194px;
  background: #000000;
  border-radius: 0;
  @include max-screen(810px) {
    width: 100px;
  }
  @include max-screen(440px) {
    width: 50px;
  }
}

.owl-dot:first-child {
  margin-right: 34px;
  @include max-screen(810px) {
    margin-right: 15px;
  }
  @include max-screen(440px) {
    margin-right: 8px;
  }
}

.owl-dot:nth-child(2) {
  margin-right: 34px;
  @include max-screen(810px) {
    margin-right: 15px;
  }
  @include max-screen(440px) {
    margin-right: 8px;
  }
}

