@mixin max-screen($res)
{
  @media screen and (max-width: $res)
  {
    @content;
  }
}

.main_banner {
  margin: 28px 73px 75px 73px;
  min-height: 550px;
  border-radius: 32px;
  background-color: #DCE5E2;
  background-image: url("../Images/mb_background.png");
  background-repeat: no-repeat;
  background-position: right;
  box-sizing: border-box;
  @include max-screen(983px) {
    margin: 30px;
  }
  @include max-screen(787px) {
    background-size: cover;
    background-position-x: 40px;
    max-height: 550px;
  }
  @include max-screen(500px) {
    background-size: auto;
    max-height: 350px;
    background-position: 30px;
  }
  @include max-screen(430px) {
    background-position-x: 20%;
  }
  .mb_text {
    max-width: 588px;
    padding-left: 56px;
    padding-top: 145px;
    @include max-screen(1295px) {
      background-color: rgb(255,250,250,0.7);

    }
    @include max-screen(787px) {
      padding-right: 15px;
      padding-top: 165px;

    }
    @include max-screen(550px) {
      padding-top:110px ;
    }
    @include max-screen(500px) {
      padding: 100px 30px;
    }
    h1 {
      font-family: 'Readex Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 58px;
      line-height: 70px;
      color: #000000;
      @include  max-screen(787px) {
        font-size: 50px;
        line-height: 60px;
      }
      @include max-screen(500px) {
        font-size: 42px;
        line-height: 50px;
      }
    }
    p {
      max-width: 565px;
      padding-top: 19px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      @include max-screen(787px) {
        font-size: 14px;
      }
    }
    button {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      margin: 30px 0 127px 0;
      padding: 14px 53px;
      border: 1px solid #000000;
      border-radius: 200px;
      background-color: transparent;
      z-index: 200;
    }
  }
}

/*
.main_banner {
  margin: 28px 73px 75px 73px;
  border-radius: 32px;
  background-color: #DCE5E2;
  background-image: url("../Images/mb_background.png");
  background-repeat: no-repeat;
  background-position: right;
  box-sizing: border-box;
  @include max-screen(983px) {
    margin: 30px;
  }
  @include max-screen(787px) {
    background-size: cover;
  }
  @include max-screen(500px) {
    background-position: 40%;
    max-height: 400px;
  }
  .mb_text {
    max-width: 588px;
    padding-left: 56px;
    padding-top: 145px;
    @include max-screen(1295px) {
      background-color: rgb(255,250,250,0.7);
    }
    @include max-screen(787px) {
      padding-right: 15px;
    }
    @include max-screen(500px) {
      padding: 20px;
    }
    h1 {
      font-family: 'Readex Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 58px;
      line-height: 70px;
      color: #000000;
      @include max-screen(787px) {
        font-size: 42px;
        line-height: 50px;
      }
    }
    p {
      max-width: 565px;
      padding-top: 19px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      @include max-screen(787px) {
        font-size: 14px;
      }

    }
  }
  button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    margin: 30px 0 127px 56px;
    padding: 14px 53px;
    border: 1px solid #000000;
    border-radius: 200px;
    background-color: transparent;

  }
}*/
