
@media only screen and (max-width: 979px){
    .navbar-demo  button.menu-btn {
        position: absolute;
        top: 0;
        right: 0;
        background-color: unset;
        border: 0;
        font-size: 26px;
        display:block;
        padding: 27px 23px;
        color: #fff;
        outline: none;
    }

    .logo {
        padding-left: 30px!important;
        z-index: 1000;
    }

    .navbar-demo{
        height:100vh;
        max-height: 80px;
        z-index: 999;
    }
    .navbar-demo .nav-bar {
        position: absolute;
        left: -900px;
        background-color: rgb(255,255,255, 0.8);
        transition: 0.5s;
        width: 100%;
        height: 100vh;
        padding: 0;
    }

    .navbar-demo.open-nav  .nav-bar{
        left: 0;
        width: 100%;
        transition: left 0.5s;
        height: 100vh;
        overflow-y: hidden;
    }

    .navbar-demo .nav-bar ul li a {
        display: block;
        color: black;
        padding-top: 20px;
        padding-left: 0!important;
        font-size: 24px;
    }



    .nav-bar ul li a:nth-child(2):after {
        display: none;
    }

    .navbar-demo.open-nav button.menu-btn i:before {
        content: '\f00d ';

    }
    .fa-bars:before, .fa-navicon:before {
        color: black;

    }


    header .nav-icons {
        right: 15%;
        margin: auto;
        position: absolute;

    }

}

@media screen and (max-width: 500px) {
    .nav-icons {
        right: 20%!important;
    }

    .nav-icons a:first-child {
        margin-right: 15px!important;
    }
    .navbar-demo.open-nav  .nav-bar{
        width: 100%;
        left: 0;
    }

    .navbar-demo .nav-bar ul li a {
        font-size: 16px;
    }

    .navbar-demo .nav-bar ul li a:first-child {
        padding-top: 20px;
    }
}