.pre-footer {
  max-width: 90%;
}
.pf_title h2 {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}

.pf_search_bar {
  button {
    border: 1px solid #C5C5C5;
    border-start-start-radius: 50px;
    border-end-start-radius: 50px;
    border-start-end-radius: 0px;
    border-end-end-radius: 0px;
    border-right: none;
    background: #F8F9FA;
    height: 60px;
  }

  input {
    border: 1px solid #C5C5C5;
    border-left: none;
    border-start-end-radius: 50px;
    border-end-end-radius: 50px;
    background: #F8F9FA;
    height: 60px;
  }
}

.pf_search_buttons a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 12px 22px;
  background: #FFFFFF;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  text-decoration: none;
}

.pf_banner {
  background: #DCE5E2;
  border-radius: 16px;
  max-width: 935px;

  h2 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;
  }

  p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
  }

  .pf_email {
    margin: auto;
    width: 35%;

    input {
      background: #DCE5E2;
      border: 1px solid #000000;
      border-radius: 54px 0px 0px 54px;
      height: 50px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
    }
    button {
      background: #000000;
      border-radius: 0px 200px 200px 0px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
    }
  }
}