@mixin max-screen($res)
{
  @media screen and (max-width: $res)
  {
    @content;
  }
}

.shop_our_latest {
  max-width: 90%;
}


.sol_text {
  h2 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: #000000;
  }
  p {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
}

.sol_images .item-1 {
  .item-1-1 {
    height: 472px;
    background-image: url("../Images/sol_1.jpg");
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: 40%;
    background-position-y: 0;
    @include max-screen(1300px) {
      background-size: 90%;
    }
    @include max-screen(992px) {
      height: 365px;
      background-position: left top;
      background-size: 70%;
    }
    @include max-screen(800px) {
      background-size: 80%;
    }
    @include max-screen(576px) {
      background-size: 80%;
    }
    @include max-screen(440px) {
      background-size: 100%;
    }
    h4 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: right;
      color: #000000;
      padding-top: 360px;
      padding-right: 3%;
      @include max-screen(992px) {
        padding-top: 50px;
      }
      @include max-screen(576px) {
        padding-top: 250px;
      }
    }
    h3 {
      font-family: 'Readex Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      text-align: right;
      color: #000000;
      padding-right: 3%;
    }
  }
  .item-1-2 {
    height: 270px;
    background-image: url("../Images/sol_2.jpg");
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    top: 25px;
    background-position-x: 10%;
    @include max-screen(600px) {
      background-position-x: -50%;
    }
    @include max-screen(534px) {
      background-size: -80px;
      background-position-x: -80px;
      background-position-y: center;

    }
    @include max-screen(472px) {
      background-position-x: -100px;
      background-position-y: center;
      background-size: 100%;
    }
    @include max-screen(460px) {
      background-position-x: -120px;
      background-size: cover;
    }
    @include max-screen(426px) {
      background-position:center;
    }
    h4 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: right;
      color: #000000;
      padding-top: 60px;
      padding-right: 3%;
      @include max-screen(426px) {
        text-align: center;
      }
    }
    h3 {
      font-family: 'Readex Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      text-align: right;
      color: #000000;
      padding-right: 3%;
      @include max-screen(426px) {
        text-align: center;
      }
    }
  }

}

.sol_images .item-2 {
  background-image: url("../Images/sol_3.jpg");
  background-color: #FFFFFF;
  background-position-x: 20%;
  background-position-y: 35%;
  height: 792px;
  background-repeat: no-repeat;
  @include max-screen(992px) {
    height: 550px;
    background-position: center right;
  }
  h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    padding-top: 552px;
    @include max-screen(992px) {
      padding-top: 360px;
    }
    @include max-screen(828px) {
      padding-top: 400px;
    }
    @include max-screen(730px) {
      padding-top: 440px;
    }
    @include max-screen(434px) {
      text-align: left;
      padding-left: 15px;
    }
  }
  h3 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    @include max-screen(434px) {
      text-align: left;
      padding-left: 15px;
    }
  }
}

.sol_images .item-3 {
  background-image: url("../Images/sol_4.jpg");
  background-color: #FFFFFF;
  background-position-x: 24.88%;
  background-position-y: 70%;
  height: 792px;
  background-repeat: no-repeat;
  @include max-screen(992px) {
    background-position: center left;
    height: 430px;
  }
  h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    padding-top: 114px;
    @include max-screen(928px) {
      padding-top: 180px;
      text-align: right;
      padding-right: 15px;
    }
    @include max-screen(708px) {
      padding-top: 350px;
    }
    @include max-screen(456px) {
      padding-top: 320px;
      text-align: left;
      padding-left: 15px;
    }

  }
  h3 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    @include max-screen(928px) {
      text-align: right;
      padding-right: 15px;
    }
    @include max-screen(456px) {
      text-align: left;
      padding-left: 15px;
    }

  }

}
