.shop_our_latest {
  max-width: 90%;
}

.sol_text h2 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
}
.sol_text p {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.sol_images .item-1 .item-1-1 {
  height: 472px;
  background-image: url("../Images/sol_1.jpg");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: 40%;
  background-position-y: 0;
}
@media screen and (max-width: 1300px) {
  .sol_images .item-1 .item-1-1 {
    background-size: 90%;
  }
}
@media screen and (max-width: 992px) {
  .sol_images .item-1 .item-1-1 {
    height: 365px;
    background-position: left top;
    background-size: 70%;
  }
}
@media screen and (max-width: 800px) {
  .sol_images .item-1 .item-1-1 {
    background-size: 80%;
  }
}
@media screen and (max-width: 576px) {
  .sol_images .item-1 .item-1-1 {
    background-size: 80%;
  }
}
@media screen and (max-width: 440px) {
  .sol_images .item-1 .item-1-1 {
    background-size: 100%;
  }
}
.sol_images .item-1 .item-1-1 h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #000000;
  padding-top: 360px;
  padding-right: 3%;
}
@media screen and (max-width: 992px) {
  .sol_images .item-1 .item-1-1 h4 {
    padding-top: 50px;
  }
}
@media screen and (max-width: 576px) {
  .sol_images .item-1 .item-1-1 h4 {
    padding-top: 250px;
  }
}
.sol_images .item-1 .item-1-1 h3 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #000000;
  padding-right: 3%;
}
.sol_images .item-1 .item-1-2 {
  height: 270px;
  background-image: url("../Images/sol_2.jpg");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  top: 25px;
  background-position-x: 10%;
}
@media screen and (max-width: 600px) {
  .sol_images .item-1 .item-1-2 {
    background-position-x: -50%;
  }
}
@media screen and (max-width: 534px) {
  .sol_images .item-1 .item-1-2 {
    background-size: -80px;
    background-position-x: -80px;
    background-position-y: center;
  }
}
@media screen and (max-width: 472px) {
  .sol_images .item-1 .item-1-2 {
    background-position-x: -100px;
    background-position-y: center;
    background-size: 100%;
  }
}
@media screen and (max-width: 460px) {
  .sol_images .item-1 .item-1-2 {
    background-position-x: -120px;
    background-size: cover;
  }
}
@media screen and (max-width: 426px) {
  .sol_images .item-1 .item-1-2 {
    background-position: center;
  }
}
.sol_images .item-1 .item-1-2 h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #000000;
  padding-top: 60px;
  padding-right: 3%;
}
@media screen and (max-width: 426px) {
  .sol_images .item-1 .item-1-2 h4 {
    text-align: center;
  }
}
.sol_images .item-1 .item-1-2 h3 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: right;
  color: #000000;
  padding-right: 3%;
}
@media screen and (max-width: 426px) {
  .sol_images .item-1 .item-1-2 h3 {
    text-align: center;
  }
}

.sol_images .item-2 {
  background-image: url("../Images/sol_3.jpg");
  background-color: #FFFFFF;
  background-position-x: 20%;
  background-position-y: 35%;
  height: 792px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 992px) {
  .sol_images .item-2 {
    height: 550px;
    background-position: center right;
  }
}
.sol_images .item-2 h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  padding-top: 552px;
}
@media screen and (max-width: 992px) {
  .sol_images .item-2 h4 {
    padding-top: 360px;
  }
}
@media screen and (max-width: 828px) {
  .sol_images .item-2 h4 {
    padding-top: 400px;
  }
}
@media screen and (max-width: 730px) {
  .sol_images .item-2 h4 {
    padding-top: 440px;
  }
}
@media screen and (max-width: 434px) {
  .sol_images .item-2 h4 {
    text-align: left;
    padding-left: 15px;
  }
}
.sol_images .item-2 h3 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 434px) {
  .sol_images .item-2 h3 {
    text-align: left;
    padding-left: 15px;
  }
}

.sol_images .item-3 {
  background-image: url("../Images/sol_4.jpg");
  background-color: #FFFFFF;
  background-position-x: 24.88%;
  background-position-y: 70%;
  height: 792px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 992px) {
  .sol_images .item-3 {
    background-position: center left;
    height: 430px;
  }
}
.sol_images .item-3 h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  padding-top: 114px;
}
@media screen and (max-width: 928px) {
  .sol_images .item-3 h4 {
    padding-top: 180px;
    text-align: right;
    padding-right: 15px;
  }
}
@media screen and (max-width: 708px) {
  .sol_images .item-3 h4 {
    padding-top: 350px;
  }
}
@media screen and (max-width: 456px) {
  .sol_images .item-3 h4 {
    padding-top: 320px;
    text-align: left;
    padding-left: 15px;
  }
}
.sol_images .item-3 h3 {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 928px) {
  .sol_images .item-3 h3 {
    text-align: right;
    padding-right: 15px;
  }
}
@media screen and (max-width: 456px) {
  .sol_images .item-3 h3 {
    text-align: left;
    padding-left: 15px;
  }
}

/*# sourceMappingURL=shop_our_latest.css.map */
