@import "header_preproc.css";
@import "main_banner_preproc.css";
@import "save_on_our_most.css";
@import "see_the_best.css";
@import "shop_our_latest.css";

.navbar .navbar-nav .nav-item {
  ont-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: black;
}

