@import "header.css";

.navbar .navbar-nav .nav-item {
  ont-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: black;
}

.navbar-nav .nav-item:hover {

}